@import "~bootstrap";

html {
    scroll-behavior: smooth;
}

body {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    box-sizing: border-box;
    background-color: cornflowerblue;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    list-style: none;
}

label {
    letter-spacing: 1px;
}

input {
    text-align: center;
}

header {
    position: absolute;
    right: 0;
    left: 0;
}
.logout {
    background-color: #718C00;
}
.logout {
    position: absolute;
    top: 26px;
    z-index: 1;
    right: 100px;
    background-color: #718C00;
}

.logout > button.button-news.btn-large {
    padding: 6px 30px;
    font-size: 13px;
    margin-top: 0;
    line-height: normal;
}