{% block LoginModal %}
    {% set emaiFieldlValue = '' %}

    {% if last_username is defined and last_username  %}
        {% set emaiFieldlValue = last_username  %}

        <script type="text/javascript">
            document.onreadystatechange = function () {
                document.getElementById('loginBtn').click()
            }
        </script>
    {% endif %}

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal"
         aria-hidden="true">


        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title animated fadeIn delay-w-100ms" id="ModalWindowTitle">PRIHLÁSTE SA</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="yellow-divider animated fadeIn delay-w-200ms"></div>
                {% if error %}
                    <div class="alert alert-danger text-center">
                        {{ error }}
                    </div>
                {% endif %}
                <div class="modal-body">
                    <form class="animated fadeIn delay-w-300ms" action="{{ url('app_login') }}" method="post">
                        <div class="form-group">
                            <input type="text"
                                   class="modal-field"
                                   name="email"
                                   placeholder="E-mail"
                                   value="{{ emaiFieldlValue }}"
                                   required
                                   autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" class="modal-field" name="password" placeholder="Heslo">
                        </div>
                        <input
                                type="hidden"
                                name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                        />
                        <div class="modal-footer">
                            <button type="submit" class="btn-modal-login">VSTÚPIŤ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}