.login-icon-wrapper {
   position: absolute;
    z-index: 999;
    right: 25px;
    top: 25px;
}
 .login-icon {
     color: white;
     font-size: x-large;
 }

.log-in-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}


.registration {
    text-align: center;
    width: fit-content;
    margin: 20px auto;
    background-color: #718C00;
}

.registration > button.button-news.btn-large {
    padding: 6px 30px;
    font-size: 13px;
    margin-top: 0;
    line-height: normal;
}

.top-info {
    background-color: red;
}

.site-tex {
    height: 600px;
}

.cat-gif {
    max-width: 100%;
}
