{% block header %}
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rss reader</title>
        <meta name="robots" content="noindex">
        <meta name="author" content="JA">
        <meta name="keywords" content="rss">
    </head>
{% endblock %}