{% extends 'feed/index.html.twig' %}

{% block title %}Hello AllFeedsController!{% endblock %}

{% block body %}
{% set get = '?url=' %}

{% dump (feeds) %}

    <div class=" p-5">
    <div class="list-group">

                {% for feed in feeds %}
                    <a href=" {{url('read_feed') ~ get ~  feed.link }}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ feed.name }}</h5>
                        </div>
                    </a>

                {% endfor %}




    </div>
</div>

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning text-center">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
